<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586319755521-mvrp8pbgf0ku6qrj8gur52grhdlsccla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586319755521-mvrp8pbgf0ku6qrj8gur52grhdlsccla</string>
	<key>API_KEY</key>
	<string>AIzaSyBui9TvCW6vsOmJB9uQSk7JqFTTqjG6uT0</string>
	<key>GCM_SENDER_ID</key>
	<string>586319755521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-f5ce6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-f5ce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586319755521:ios:80b476151fa9d81f36c300</string>
</dict>
</plist>